body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000F5F;
}

.main-container{
  height: 100vh;
  overflow: hidden;
}

.wrapper {
  height: 100%;
  display: flex;
}

.svg-block{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 65vh;
  flex-shrink: 0;
}

.svg-building{
  width: 100%;
  height: auto;
}

.title-wrapper{
  padding-top: 7.4vh;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 2vw;
  gap: 2rem;
}

.main-title{
  max-width: 50vh;
  width: 100%;
  height: auto;
}

.instructions{
  max-width: 20vh;
  width: 100%;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active{
  stroke: #FF5872;
  stroke-width: 3;
  stroke-dasharray: 10;
  animation: dash 5s linear infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 200;
  }
}

.content-wrapper{
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 0 7.4vh;
}

.color-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 7.4vh;
}

.color {
  width: 100%;
  height: 25%;
  border-radius: 30px;
  border: 4px solid #FFF7EB;
  overflow: hidden;
  position: relative;
}

.color::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: transparent linear-gradient(270deg, #00000043 0%, #00000015 100%) 0% 0% no-repeat padding-box;
}

.gradient {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 120vw;
  height: 120vw;
  transform: translateX(50%) translateY(50%);
  background: transparent radial-gradient(closest-side at 50% 50%, #1F58F5 0%, #1F58F500 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: -1;
}

.button-blue {
  background-color: #1252FF;
}

.button-yellow {
  background-color: #FFB858;
}

.button-red {
  background-color: #FF5872;
}

.position.hidden {
  opacity: 0.3;
}