body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FFF7EB;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  display: flex;
}

.svg-block, .color-block {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-block {
   flex-direction: column;
}

.color {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

.blue {
  background-color: #1252FF;
}

.yellow {
  background-color: #FFB858;
}

.red {
  background-color: #FF5872;
}
