@media print {
    @page {
      margin-left: 0.5in;
      margin-right: 0.5in;
      margin-top: 0;
      margin-bottom: 0;
      size: A5;
    }

  .position, .main-title, .instructions, .color-block {
    display: none !important;
    opacity: 0;
  }

  .svg-block {
    width: 50%;
      /* margin-top: 350px; */
      transform: rotate(90deg) translate(-80%, 15%);
      justify-content: flex-start;
      align-items: flex-start;
    }
}